location ~ ^/console/([A-Za-z0-9][A-Za-z0-9._-]{0,63})(/.*)$ {
    resolver 127.0.0.53 127.0.0.1 ipv6=off valid=30s;
    proxy_pass http://$topovision_console_pass$2$is_args$args;
    proxy_http_version 1.1;
    proxy_read_timeout 60s;
    proxy_set_header Authorization $http_authorization;
}
